body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 167px);
    grid-template-rows: repeat(3, 167px);
    border: 3px solid black;
    width: 500px;
    height: 500px;
}

.grid-item {
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    margin: 0;
    padding: 0;
}

#reset {
    font-size: 50px;
    width: 175px;
    padding: 10px 15px 10px 15px;
    border: 2px solid black;
    border-radius: 15px;
}

.grid-item:hover {
    cursor: pointer;
    background-color: rgb(224, 224, 224);
}

#reset:hover {
    background-color: rgb(219, 219, 219);
    font-size: 52px;
    padding: 9px 14px 9px 14px;
}